
:root {
    --almost-white: hsl(0, 0%, 98%);
    --medium-grey: hsl(0, 0%, 41%);
    --almost-black: hsl(0, 0%, 8%);

    --font-size: 18px;
    --font: 'Epilogue', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: var(--almost-white);
    font-family: var(--font);
}

/*========NAVIGATION=========*/

nav {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 10vh;
    padding: 10px;
    color: var(--medium-grey);
    margin: 25px 15px 70px 25px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
}

.navigation-items {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.expand {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    cursor: pointer;
}

nav ul {
    display: flex;
    list-style: none;
    align-items: flex-start;
    justify-content: flex-start;
}

nav ul li {
    margin: 0 40px;
    cursor: pointer;
}

.nav ul li:hover {
    color: var(--medium-grey);
}



.logo {
    margin-right: 10px;
}

.register {
    border: 1px solid var(--medium-grey);
    padding: 10px;
    border-radius: 10px;
}
.register:hover {
    color: var(--almost-black);
    border: 1px solid var(--almost-black);
}

.features {
    position: relative;
}

.company {
    position: relative;
}

/*========DROPDOWN==================*/

.dropdown{
    position: absolute;
    width: 150px;
    top: 30px;
    right: 0;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    opacity: 0;
    cursor: default;
    transition: opacity .4s ease-in;
}

.dropdown.active {
    opacity: 1;
    cursor: pointer;
}


.dropdown div{
    margin: 0 0 10px 0;
}

/*===========BODY============*/

.container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin: 7vh 10vw;
}

.text-container {
    height: 70vh;
    margin-right: 15vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}

.logos-container img {
    margin-right: 50px;
}

.img-container {
    width: 60vw;
    height: 60vh;
    background-image: url(images/image-hero-desktop.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.heading {
    font-size: 44px;
}
